<h2> Edit Your Profile </h2>

<p>
  Your email is <b><%= currentUser.email %></b>.
</p>

<p>
  <small> (For "security reasons" we don't allow changing emails.) </small>
</p>

<p>
  Your avatar:
  <img src="<%= currentUser.avatar %>" />
</p>

                                                 <!-- for file uploads
                                                             |         -->
<form id="form" method="post" action="/settings" enctype="multipart/form-data">
  <label for="full-name-input"> Full Name </label>
  <input  id="full-name-input" type="text" placeholder="e.g. Khal Drogo"
      name="editFullName" value="<%= currentUser.fullName %>" />
  <br />

  <label for="avatar-input"> Change Your Avatar </label>
  <input  id="avatar-input" type="file" name="editAvatar" />
  <br />

  <button> Save Changes </button>
</form>
