<h2> Add a Room </h2>

<form method="post" action="/rooms">
    <label for="name-input"> Room Name </label>
    <input  id="name-input" type="text" placeholder="e.g. Best Beach View"
        name="roomName" />
    <br />

    <label for="photo-input"> Photo URL </label>
    <input  id="photo-input" type="text"
        name="roomPhoto" placeholder="e.g. http://example.com/beach.gif" />
    <br />

    <label   for="description-input"> Description </label>
    <textarea id="description-input" placeholder="e.g. Lovely beach cottage"
        name="roomDescription"></textarea>
    <br />

    <button> Save This Room </button>
</form>
