<h2> Add a Room </h2>

                                      <!-- for file uploads
                                                |         -->
<form method="post" action="/rooms" enctype="multipart/form-data">
    <label for="name-input"> Room Name </label>
    <input  id="name-input" type="text" placeholder="e.g. Best Beach View"
        name="roomName" />
    <br />

    <label for="photo-input"> Upload Photo </label>
    <input  id="photo-input" type="file" name="roomPhoto" />
    <br />

    <label   for="description-input"> Description </label>
    <textarea id="description-input" placeholder="e.g. Lovely beach cottage"
        name="roomDescription"></textarea>
    <br />

    <button> Save This Room </button>
</form>
