<h2> Log In </h2>

<% if (typeof errorMessage !== "undefined") { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
<% } %>

<form id="form" method="post" action="/process-login">
  <label for="email-input"> Email </label>
  <input  id="email-input" type="email" placeholder="e.g. tyrion@casterly.rock"
      name="loginEmail" />
  <br />

  <label for="password-input"> Password </label>
  <input  id="password-input" type="password" placeholder="e.g. winewinewine"
      name="loginPassword" />
  <br />

  <button> Log In </button>
</form>

<a href="/facebook/login"> Log In With Facebook </a>
<a href="/google/login"> Log In With Google </a>

<p>
  Don't have an account?
  <a href="/signup"> Sign Up </a>
</p>
